.content-page{
    --background:#1e1b27!important;
    height: 100vh;  
}

.dash-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    font-family: Calibri;
    height: 100%;
    padding: 7%;
}

.cardcontent{
    --background:#272333!important;
    height: 100px;
    width: 100%;
    padding: 7%;
    margin-bottom: auto;
    justify-content: center;
}

.def_con {
    justify-content: center;
   
}

.def_text{
    font-size: 20px;
    margin-bottom:20px;
    text-transform: capitalize;
}

.play-icon{
    color:#953cd0;
    margin-bottom: 20px;
}



