.card-content {
    --background: #272333 !important;
}

.content-page {
    --background: #1e1b27 !important;
     height: 100vh;
}

.dash-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Calibri;
    height: 100%;
    padding: 7%;
   
    text-align:center;
}

.pro-card {
    --background: #272333 !important;
    width: 90%;
    height: 35vh;
}

.profile-heading {
    font-size: 18px;
    justify-content:center;
}

.pro-btn1{
    justify-content:center;

}
.pro-btn{
    --background: #953CCF;
}
.avatar-img{
    justify-content:center;
  
}

.google-email{
    justify-content:center;
}


.text{
    margin-top: 5px;
}